body{
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.small_around {
  height: 189px;
  width: 189px;
  border-radius: 50%;
  border-bottom: 10px solid rgb(255, 153, 0);
  animation : around 1s linear infinite  //burda deyirikki keyframesde qeyd elediyimiz functionu burada emel ele ve infinity sonsuz emel ele demekdir


}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

}



@keyframes around {
  0% {
    transform: rotate(0deg);
  }                                     //burda deyirik ki 0% da 0deg de olsun 100% i ise 360 deg dir
  100% {
    transform: rotate(360deg);
  }
}


